NVS_API_URL=http://127.0.0.1:8001
AGENT_ID=mac-local-julio
AGENT_TOKEN=change-me
ML_PLANNING_URL=https://www.mercadolivre.com.br/anuncios/lista/shipment_planning/plans?page=1&filters=WITH_CRITICAL_STOCK%7CWITH_LOW_STOCK%7CWITHOUT_STOCK
ML_HEADLESS=true
